$primary: #27ACA1;
$secondary: #DCF7F4;
$white: #FFFFFF;
$primaryDark: #04665E;
$gray: #F6F8FA;
$olive: #0C0C3D;

.CustomBtn {
    padding: 9px 24px 9px 19px;
    border-radius: 8px;
    background-color: $secondary;
    color: $primary;
    border: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;

    &__data {
        display: flex;
        gap: 12px;
    }

    &:hover {
        cursor: pointer;
        color: $primaryDark;
    }

    &:active {
        background-color: $gray;
    }
}

.CustomBtnWhite {
    padding: 16px 32px;
    border-radius: 8px;
    background-color: $white;
    color: $primary;
    border: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    cursor: pointer;

    &:hover {
        cursor: pointer;
        color: $primaryDark;
    }

    &:active {
        color: $olive;
    }
}

.mailingBtn {
    height: 60px;
    width: 683px;
    border-radius: 8px;
    padding: 16px 32px;
    border: none;
    background-color: $white;
    color: $primary;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;

    &:hover {
        cursor: pointer;
        color: $primaryDark;
    }

    &:active {
        color: $olive;
    }
}