$primary: #27ACA1;
$secondary: #DCF7F4;
$white: #FFFFFF;

.CustomBtn {
    padding: 9px 24px 9px 19px;
    border-radius: 8px;
    background-color: $secondary;
    color: $primary;
    border: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    cursor: pointer;

    &__data {
        display: flex;
        gap: 12px;
    }
}

.CustomBtnWhite {
    padding: 16px 32px;
    border-radius: 8px;
    background-color: $white;
    color: $primary;
    border: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    cursor: pointer;
}

.mailingBtn {
    height: 60px;
    width: 683px;
    border-radius: 8px;
    padding: 16px 32px;
    border: none;
    background-color: $white;
    color: $primary;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}