$primary: #27ACA1;
$primaryHover: #32BCB1;
$primaryDark: #04665E;

.link {
    font-weight: 600;
    color: $primary;

    &::after {
        content: url(../../../Assets/Icons/14px/PrimaryArrow.svg);
        margin-left: 7px;
    }

    &:hover {
        cursor: pointer;
        color: $primaryHover;
    }

    &:active {
        color: $primaryDark;
    }
}