.search {
    height: 46px;
    width: 892px;
    padding: 9px 9px 9px 44px;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #CFD7DC;
    background: url(../../Assets/Search.svg) no-repeat 9px center;
    font-size: 18px;
    line-height: 28px;
}