.InfoContainer {
    height: 96px;
    width: 784px;
    border-radius: 16px;
    background-color: #F6F8FA;
    padding: 18px 18px 18px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main__info {
        display: flex;
        gap: 12px;

        h3 {
            font-size: 24px;
            line-height: 32px;
            font-weight: 500;
            display: flex;
            align-items: center;
        }
    }
}