.wrapper {
    margin-bottom: 80px;

    &__title {
        font-size: 36px;
        line-height: 46px;
        font-weight: 500;
        margin-bottom: 32px;
        width: 784px;
    }

    &__noContainer {
        margin-bottom: 80px;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
    }
}