body, html {
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

*, ::after, ::before {
  box-sizing: border-box;
}

a, h1, h2, h3, h4, h5, h6, p, span {
  padding: 0;
  margin: 0;
  font-style: normal;
  text-decoration: none;
  color: #0C0C3D;
  font-size: 18px;
  line-height: 28px;
}
